[dir=ltr] .md-header__title {
  margin-left: 0.1rem;
}

.divTable{
	display: table;
	width: 100%;
}
.divTableRow {
	display: table-row;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}
.divTableCell, .divTableHead {
	border: 1px solid #999999;
	display: table-cell;
	padding: 3px 10px;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}

.md-typeset table:not([class]) th {
    min-width: 2.5rem;
    vertical-align: middle;
}

.md-typeset table:not([class]) td {
	vertical-align: middle;
	min-width: none;
}

.md-grid {
	max-width: 1600px; 
}

.md-nav__link svg {
    height: 1.3em;
	max-width: 1.3em
}

.printertable {
	width: 100%;
	font-size: .8rem;
}

.printertable td {
	padding-bottom: 0.5em;
	padding-left: 1.25em;
	padding-right: 1.25em;
	padding-top: 0.5em;
}

.printerimg {
	width: 230px;
}

.altprinters {
	width: fit-content;
	line-height: 1.6em;
	font-size: .8rem;
}

.altprinters th {
	font-size: 1rem;
}

.altprinters td {
	padding-bottom: 0.9375em;
	padding-left: 1.25em;
	padding-right: 1.25em;
	padding-top: 0.9375em;
	min-width: 120px;
}

.altprinterimg {
	width: 120px;
	min-width: 120px;
}

.printerimgtd {
	padding-right: 50px;
	vertical-align: middle;
	padding-bottom: 0.9375em;
	padding-left: 1.25em;
	padding-right: 1.25em;
	padding-top: 0.9375em;
	min-width: 120px;
}

@media (max-width: 600px) {
	.printerimgtd {
		display: none;
	}
}

@media (max-width: 600px) {
	.altprinterimgtd {
		display: none;
	}
}

@media (min-width: 600px) {
	.upperprinterimgtr {
		display: none;
	}
}