[dir=ltr] .md-header__title {
  margin-left: 0.1rem;
}

.divTable{
	display: table;
	width: 100%;
}
.divTableRow {
	display: table-row;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}
.divTableCell, .divTableHead {
	border: 1px solid #999999;
	display: table-cell;
	padding: 3px 10px;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}

.md-typeset table:not([class]) th {
    min-width: 2.5rem;
    vertical-align: middle;
}

.md-typeset table:not([class]) td {
	vertical-align: middle;
	min-width: none;
}

.md-grid {
	max-width: 1600px; 
}

.md-nav__link svg {
    height: 1.3em;
	max-width: 1.3em
}