name: Deploy
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  build:
    name: Deploy docs
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Build
        uses: Tiryoh/actions-mkdocs@v0
      - name: Copy htaccess
        run: |
          sudo chown -R runner:docker ./site
          find docs -name "*.wasm" | sed -r 's#^docs(.*)\/.*$#\"./docs\1\/.htaccess" "./site\1\/"#g' | xargs -n2 cp
      - name: Deploy
        uses: burnett01/rsync-deployments@5.2.1
        if: github.ref == 'refs/heads/main' && github.event_name == 'push'
        with:
          switches: -avzr --delete
          path: ./site/
          remote_path: ${{ secrets.deploy_path }}
          remote_host: ${{ secrets.ssh_server }}
          remote_user: ${{ secrets.ssh_username }}
          remote_key: ${{ secrets.ssh_private_key }}
